<div :if={@live_action == :index} class="container">
  <.dm_async_card :let={repos} assign={@repos} class="section-card" skeleton_class="min-h-48">
    <:title class="flex flex-row justify-center">
      <h3 class="font-semibold text-2xl">Github Repos of GSMLG</h3>
    </:title>

    <div class="mx-4 my-2 w-full grid grid-cols-3 gap-4">
      <div :for={repo <- repos}>
        <.github_repo_info_card repo={repo} />
      </div>
    </div>
  </.dm_async_card>

  <.async_result :let={org_repos} assign={@org_repos}>
    <.dm_card :for={{org, repos} <- org_repos} class="section-card">
      <:title class="flex flex-row justify-center">
        <h3 class="font-semibold text-2xl">Github Repos of {org}</h3>
      </:title>

      <div class="mx-4 my-2 w-full grid grid-cols-3 gap-4">
        <div :for={repo <- repos}>
          <.github_repo_info_card repo={repo} />
        </div>
      </div>
    </.dm_card>
  </.async_result>
</div>
