<div :if={@live_action == :index} class="container flex flex-col gap-2 mt-4 w-full">
  <div class="mx-4 my-2 flex flex-row justify-end">
    <.link class="btn btn-sm btn-primary" patch={~p"/blogs/new"}>
      Compose
    </.link>
  </div>
  <.dm_table id="blog-table" stream={true} data={@streams.blogs}>
    <:col :let={b} label="ID">
      <%= b.id %>
    </:col>
    <:col :let={b} label="Slug">
      <%= b.slug %>
    </:col>
    <:col :let={b} label="Title">
      <%= b.title %>
    </:col>
    <:col :let={b} label="Author">
      <%= b.author %>
    </:col>
    <:col :let={b} label="Date">
      <%= b.date %>
    </:col>

    <:col :let={b} label="">
      <div class="flex gap-2">
        <.link class="btn btn-sm btn-info" patch={~p"/blogs/#{b.id}"}>
          Show
        </.link>
        <.link class="btn btn-sm btn-warning" patch={~p"/blogs/#{b.id}/edit"}>
          Edit
        </.link>
        <.link
          class="btn btn-sm btn-error"
          phx-click={JS.push("delete", value: %{id: b.id})}
          data-confirm="Are you sure?"
        >
          Delete
        </.link>
      </div>
    </:col>
  </.dm_table>
</div>

<div
  :if={@live_action == :new || @live_action == :edit}
  class="container flex flex-col gap-2 mt-4 w-full"
>
  <div class="mx-4 my-2 flex gap-2">
    <.link class="btn btn-sm btn-primary" patch={~p"/blogs"}>
      All Blog List
    </.link>
    <%= if !is_nil(@blog.id) do %>
      <.link class="btn btn-sm btn-info" patch={~p"/blogs/#{@blog.id}"}>
        Show Blog
      </.link>
    <% end %>
  </div>

  <div class="mx-4 my-2">
    <.dm_form
      :let={f}
      for={@changeset}
      id="blog-form"
      method={:post}
      phx-change="validate"
      phx-submit="save"
    >
      <.dm_input field={f[:slug]} type="text" label="Slug" />
      <.dm_input field={f[:title]} type="text" label="Title" />
      <.dm_input field={f[:author]} type="text" label="Author" />
      <.dm_input field={f[:date]} type="date" label="Date" />
      <.dm_input field={f[:content]} type="textarea" label="Content" rows="24" />
      <div>
        <span
          class="btn btn-sm btn-primary my-4"
          onclick="document.querySelector('remark-element').update();"
        >
          Preview
        </span>
        <remark-element id="blog-form_content-preview" class="prose lg:prose-xl">
          <%= Phoenix.HTML.Form.input_value(f, :content) %>
        </remark-element>
      </div>
      <:actions>
        <button class="btn btn-sm btn-primary" phx-disable-with="Saving...">Save</button>
      </:actions>
    </.dm_form>
  </div>
</div>

<div :if={@live_action == :show} class="container flex flex-col gap-2 mt-4 w-full">
  <div class="mx-4 my-2 flex gap-2">
    <.link class="btn btn-sm btn-primary" patch={~p"/blogs"}>
      All Blog List
    </.link>

    <.link class="btn btn-sm btn-warning" patch={~p"/blogs/#{@blog.id}/edit"}>
      Edit Blog
    </.link>
  </div>

  <div class="mx-8 my-2">
    <div class="flex flex-row">
      <div class="flex-1 text-primary">
        Slug
      </div>
      <div class="flex-1">
        <%= Map.get(@blog, :slug) %>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex-1 text-primary">
        Title
      </div>
      <div class="flex-1">
        <%= Map.get(@blog, :title) %>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex-1 text-primary">
        Author
      </div>
      <div class="flex-1">
        <%= Map.get(@blog, :author) %>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex-1 text-primary">
        Date
      </div>
      <div class="flex-1">
        <%= Map.get(@blog, :date) %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex-1 text-primary">
        Content
      </div>
      <div class="flex-1 prose lg:prose-xl">
        <remark-element>
          <%= Map.get(@blog, :content) %>
        </remark-element>
      </div>
    </div>
  </div>
</div>
