<div :if={@live_action == :index} class="container flex flex-col gap-2 mt-4 w-full">
  <div class="mx-4 my-2 flex flex-row gap-6 justify-end">
    <.link class="btn btn-primary" patch={~p"/blogs/new"}>
      Compose
    </.link>
  </div>
  <.dm_table
    id="blog-table"
    class="table-primary-border table-animate-row [&_thead]:bg-primary [&_thead]:text-primary-content [&_thead]:z-10"
    stream={true}
    data={@streams.blogs}
  >
    <:col :let={b} label="ID">
      {b.id}
    </:col>
    <:col :let={b} label="Slug">
      {b.slug}
    </:col>
    <:col :let={b} label="Title">
      {b.title}
    </:col>
    <:col :let={b} label="Author">
      {b.author}
    </:col>
    <:col :let={b} label="Date">
      {b.date}
    </:col>

    <:col :let={b} label="">
      <div class="flex gap-2">
        <.link class="btn btn-info" patch={~p"/blogs/#{b.id}"}>
          Show
        </.link>
        <.link class="btn btn-warning" patch={~p"/blogs/#{b.id}/edit"}>
          Edit
        </.link>
        <.dm_btn class="btn btn-error" confirm="Are you sure?">
          Delete
          <:confirm_action>
            <.dm_btn class="btn-error" phx-click={JS.push("delete", value: %{id: b.id})}>
              Delete
            </.dm_btn>
          </:confirm_action>
        </.dm_btn>
      </div>
    </:col>
  </.dm_table>
</div>

<div
  :if={@live_action == :new || @live_action == :edit}
  class="container flex flex-col gap-2 mt-4 w-full"
>
  <div class="mx-4 my-2 flex gap-2">
    <.link class="btn btn-primary" patch={~p"/blogs"}>
      All Blog List
    </.link>
    <%= if !is_nil(@blog.id) do %>
      <.link class="btn btn-info" patch={~p"/blogs/#{@blog.id}"}>
        Show Blog
      </.link>
    <% end %>
  </div>

  <div class="mx-4 my-2">
    <div id="react_blog_form" data-id={@blog.id} phx-update="ignore" phx-hook="blogFormHook">
      <.react_blog_form blog={@blog} />
    </div>
  </div>
</div>

<div :if={@live_action == :show} class="container flex flex-col gap-2 mt-4 w-full">
  <div class="mx-4 my-2 flex gap-2">
    <.link class="btn btn-primary" patch={~p"/blogs"}>
      All Blog List
    </.link>

    <.link class="btn btn-warning" patch={~p"/blogs/#{@blog.id}/edit"}>
      Edit Blog
    </.link>
  </div>

  <div class="w-full max-w-6xl flex flex-col gap-6 *:w-full">
    <div class="flex flex-row gap-6">
      <div class="w-40 text-neutral/50">
        Slug
      </div>
      <div class="flex-1">
        {Map.get(@blog, :slug)}
      </div>
    </div>
    <div class="flex flex-row gap-6">
      <div class="w-40 text-neutral/50">
        Title
      </div>
      <div class="flex-1">
        {Map.get(@blog, :title)}
      </div>
    </div>
    <div class="flex flex-row gap-6">
      <div class="w-40 text-neutral/50">
        Author
      </div>
      <div class="flex-1">
        {Map.get(@blog, :author)}
      </div>
    </div>
    <div class="flex flex-row gap-6">
      <div class="w-40 text-neutral/50">
        Date
      </div>
      <div class="flex-1">
        {Map.get(@blog, :date)}
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <div class="text-neutral/50">
        Content
      </div>
      <div class="w-full">
        <.react_markdown data={Map.get(@blog, :content)} />
      </div>
    </div>
  </div>
</div>
