html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
}

app-bar {
  --btn-link: #fdfdfd;
  --btn-hover: #9eccf2;
}

dialog.modal {
  /* display: none; */
  &[open] {
    @apply grid place-content-center bg-transparent;
  }
  .modal-box {
    @apply bg-base-200 text-base-content w-max;
  }
}