<.local_app_bar page_title={assigns[:page_title]} />

<.dm_flash_group flash={@flash} />

<main class="flex flex-1 w-full">
  <div class="relative">
    <.dm_left_menu class="sticky top-0">
      <:menu>
        <h1 class="menu-title text-primary">Bumblebee</h1>
      </:menu>
      <:menu>
        <h2 class="menu-title">Audio</h2>
        <ul>
          <li>
            <.link
              class={if("stt_live" == assigns[:active_menu], do: "active")}
              navigate={~p"/bumblebee/stt"}
            >
              STT
            </.link>
          </li>
        </ul>
      </:menu>
    </.dm_left_menu>
  </div>
  <div class="flex flex-col flex-auto mx-auto max-w-screen-2xl">
    {@inner_content}
  </div>
</main>
