<div class="sign-up-page">
  <%= form_for @changeset, Routes.auth_path(@conn, :sign_in), [class: "sign-up-form"], fn f -> %>
    <ui5-title class="sign-up-title">
      Sign In
    </ui5-title>

    <span><%= bx_link "Sign UP", to: Routes.auth_path(@conn, :new) %></span>

    <div class="form-group">
      <%= bx_label f, :username %>
      <%= bx_text_input f, :username %>
      <%= error_tag f, :username %>
    </div>

    <div class="form-group">
      <%= bx_label f, :password %>
      <%= bx_password_input f, :password %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= bx_submit "Save" %>
    </div>
  <% end %>
</div>
