<div class="login-page">
  <%= form_for @changeset, Routes.auth_path(@conn, :sign_up), [class: "login-form"], fn f -> %>

    <div class="form-group">
      <%= wc_text_input f, :email %>
    </div>

    <div class="form-group">
      <%= wc_text_input f, :username %>
    </div>

    <div class="form-group">
      <%= wc_password_input f, :password %>
    </div>

    <div class="form-group">
      <%= wc_submit "sign up", fullwidth: true, unelevated: true %>
    </div>
  <% end %>

  <hr />

  <div><%= wc_link "SIGN IN", to: Routes.auth_path(@conn, :index), fullwidth: true %></div>

</div>
