<div class="sign-up-page">
  <%= form_for @changeset, Routes.auth_path(@conn, :sign_in), [class: "sign-up-form"], fn f -> %>


    <div class="form-group">
      <%= wc_text_input f, :username %>
    </div>

    <div class="form-group">
      <%= wc_password_input f, :password %>
    </div>

    <div class="form-group">
      <%= wc_submit "sign in", fullwidth: true, unelevated: true %>
    </div>
  <% end %>

  <hr />

  <div><%= wc_link "SIGN UP", to: Routes.auth_path(@conn, :new), fullwidth: true %></div>

</div>
