<.wc_simple_appbar title={assigns[:title]}>
  <:menu to={~p"/blogs"}>
    Blog
  </:menu>
  <:menu to={~p"/tools"}>
    Toolbox
  </:menu>
  <:logo>
    <.link href={~p"/"}>
      <.app_logo />
    </.link>
  </:logo>
  <:user_profile>
    <.link class="flex flex-row gap-2" href="https://github.com/gsmlg-dev" target="_blank">
      <.wc_mdi name="github" class="h-10 w-10" />
    </.link>
  </:user_profile>
</.wc_simple_appbar>
<section class="flex flex-col justify-evenly items-center w-screen h-64 bg-sky-500 text-purple-300">
  <h2 class="text-2xl lg:text-4xl xl:text-6xl flex justify-center">
    亦余心之所<span class="animate-bounce">善</span>兮
  </h2>
  <h2 class="text-2xl lg:text-4xl xl:text-6xl flex justify-center">
    虽九<span class="animate-bounce">死</span>其犹未悔
  </h2>
</section>
<main class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-screen-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
