<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      {assigns[:page_title] || "GSMLG Web"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= if Application.get_env(:gsmlg_web, GSMLGWeb.Endpoint) |> Keyword.get(:enable_adsense) |> Kernel.==("yes") do %>
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2900591828353755"
        crossorigin="anonymous"
      >
      </script>
    <% end %>
  </head>
  <body class={[
    "flex flex-col",
    "text-slate-500 bg-fuchsia-100",
    "dark:text-slate-400 dark:bg-slate-900",
    "overflow-x-hidden antialiased"
  ]}>
    {@inner_content}
    <.dm_page_footer class={[
      "bg-gradient-to-tl from-teal-500 to-indigo-500",
      "text-slate-200"
    ]}>
      <:section title="Site Map">
        <.link href={~p"/"}>{dgettext("menu", "Home")}</.link>
        <.link href={~p"/blogs"}>{dgettext("menu", "Blog")}</.link>
        <.link href={~p"/toolbox"}>{dgettext("menu", "Toolbox")}</.link>
      </:section>

      <:section title="Toolbox">
        <.link href="/toolbox/geoip2">GeoIP2 Database</.link>
        <.link href="/toolbox/whois">Domain/IP/ASN Whois</.link>
        <.link href="/toolbox/svg2react">SVG to React</.link>
        <.link href="/toolbox/svg_autocrop">SVG AutoCrop</.link>
        <.link href="/toolbox/mac_manufacturer">Lookup MAC Manufacturer</.link>
      </:section>

      <:copyright title="Copyright">
        <span>Copyright© Jonathan Gao. All rights reserved</span>
        <%= if Application.get_env(:gsmlg_web, GSMLGWeb.Endpoint) |> Keyword.get(:show_icp) |> Kernel.==("yes") do %>
          <span>京ICP备20014476号</span>
        <% end %>
      </:copyright>
    </.dm_page_footer>
  </body>
</html>
