<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="oklch(95.86% 0.0693 95.91)"
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="oklch(85.45% 0 0)" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      {assigns[:page_title] || gettext("default page title")}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script type="module">
      document.querySelector('meta[name=theme-color]').setAttribute('content', getComputedStyle(document.body).getPropertyValue('--color-primary'));
    </script>
    <script defer phx-track-static type="module" src={~p"/assets/app.js"}>
    </script>
    <%= if Application.get_env(:gsmlg_web, GSMLGWeb.Endpoint) |> Keyword.get(:enable_adsense) |> Kernel.==("yes") do %>
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2900591828353755"
        crossorigin="anonymous"
      >
      </script>
    <% end %>
  </head>
  <body class={[
    "flex flex-col",
    "text-base-content bg-base-200",
    "overflow-x-hidden antialiased"
  ]}>
    {@inner_content}
    <.dm_page_footer class={[
      "bg-gradient-to-tl from-secondary to-accent",
      "text-neutral"
    ]}>
      <:section title="Site Map">
        <.dm_link href={~p"/"}>{dgettext("menu", "Home")}</.dm_link>
        <.dm_link href={~p"/blogs"}>{dgettext("menu", "Blog")}</.dm_link>
        <.dm_link href={~p"/toolbox"}>{dgettext("menu", "Toolbox")}</.dm_link>
        <div class="w-24 h-[1px] bg-primary my-2"></div>
        <.dm_link href="/sign_in" class="uppercase">Sign In</.dm_link>
      </:section>

      <:section title="Toolbox">
        <.dm_link href="/toolbox/geoip2">{dgettext("menu", "GeoIP2 Database")}</.dm_link>
        <.dm_link href="/toolbox/whois">{dgettext("menu", "Domain/IP/ASN Whois")}</.dm_link>
        <.dm_link href="/toolbox/svg2react">{dgettext("menu", "SVG to React")}</.dm_link>
        <.dm_link href="/toolbox/svg_autocrop">{dgettext("menu", "SVG AutoCrop")}</.dm_link>
        <.dm_link href="/toolbox/mac_manufacturer">
          {dgettext("menu", "Lookup MAC Manufacturer")}
        </.dm_link>
      </:section>

      <:copyright title="Copyright">
        <span>{gettext("Copyright© Jonathan Gao. All rights reserved")}</span>
      </:copyright>
    </.dm_page_footer>
  </body>
</html>
