<.wc_simple_appbar title={assigns[:title]}>
  <:menu to={~p"/blogs"}>
    Blog
  </:menu>
  <:menu to={~p"/tools"}>
    Toolbox
  </:menu>
  <:logo>
    <.link href={~p"/"}>
      <.app_logo />
    </.link>
  </:logo>
  <:user_profile>
    <.link class="flex flex-row gap-2" href="https://github.com/gsmlg-dev" target="_blank">
      <.wc_mdi name="github" class="h-10 w-10" />
    </.link>
  </:user_profile>
</.wc_simple_appbar>
<main class="px-4 sm:px-6 lg:px-8 min-h-[calc(100vh-120px)]">
  <div class="mx-auto max-w-screen-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
