<.dm_page_header
  class={[
    "bg-gradient-to-br from-teal-500 to-indigo-500",
    "text-slate-200 h-96 py-6"
  ]}
  nav_class={["bg-gradient-to-br from-[#ff6f61] to-[#639] text-slate-200 shadow"]}
>
  <:menu to={~p"/"}>
    Home
  </:menu>
  <:menu to={~p"/blogs"}>
    Blog
  </:menu>
  <:menu to={~p"/tools"}>
    Toolbox
  </:menu>
  <:logo>
    <.link href={~p"/"}>
      <.app_logo />
    </.link>
  </:logo>
  <:user_profile>
    <.link class="flex flex-row gap-2" href="https://github.com/gsmlg-dev" target="_blank">
      <.dm_mdi name="github" class="h-10 w-10" />
    </.link>
  </:user_profile>
  <%= if assigns[:header_slot] do %>
    <%= @header_slot %>
  <% end %>
</.dm_page_header>
<main class="flex flex-col items-center min-h-[calc(100vh-400px)]">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
