<div class="flex flex-col container px-8">
  <div class="flex justify-center items-center">
    <.dm_form
      :let={f}
      for={to_form(%{"ip" => @ip, "lang" => @lang})}
      id="ip-form"
      method="POST"
      class="flex flex-col justify-center items-center gap-4 w-84"
    >
      <input name="_csrf_token" type="hidden" value={get_csrf_token()} />
      <div class="flex gap-4 w-full">
        <.dm_input class="w-full" field={f[:ip]} label="IP" />
        <.dm_input
          class="w-full"
          type="select"
          field={f[:lang]}
          label="Language"
          options={@langs}
        />
      </div>
      <div class="flex justify-center items-center w-full">
        <button class="btn btn-primary w-full" type="submit">Lookup</button>
      </div>
    </.dm_form>
  </div>

  <%= unless is_nil(@ipInfo) do %>
    <div class="my-4 flex flex-col justify-center items-center">
      <div class="w-96 flex flex-row justify-start items-start">
        <div class="w-24 text-right pr-2 after:content-[':']">大洲</div>
        <div class="">{@ipInfo.continent}</div>
      </div>
      <div class="w-96 flex flex-row justify-start items-start">
        <div class="w-24 text-right pr-2 after:content-[':']">国家</div>
        <div class="">{@ipInfo.country}</div>
      </div>
      <div class="w-96 flex flex-row justify-start items-start">
        <div class="w-24 text-right pr-2 after:content-[':']">城市</div>
        <div class="">{@ipInfo.city}</div>
      </div>
      <div class="w-96 flex flex-row justify-start items-start">
        <div class="w-24 text-right pr-2 after:content-[':']">经纬度</div>
        <div class="">
          latitude: {@ipInfo.latitude} longitude: {@ipInfo.longitude}
        </div>
      </div>
      <div class="2xl:w-2/3 xl:w-3/4 lg:w-4/5 w-full aspect-w-16 aspect-h-8 flex flex-row justify-center items-center">
        <script type="module">
          import 'https://esm-run.gsmlg.dev/@gsmlg/lit/d3-geo';
          document.querySelectorAll("d3-world-map").forEach((el) => {
            el.classList.remove('skeleton');
          });
        </script>
        <d3-world-map
          class="w-full h-full skeleton"
          points={Jason.encode!([[@ipInfo.longitude, @ipInfo.latitude]])}
          center-longitude={@ipInfo.longitude}
        >
        </d3-world-map>
      </div>
    </div>
  <% end %>
</div>
