<div class={[
  "container px-8 my-24",
  "grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4",
  "gap-4"
]}>
  <div
    :for={
      {name, url} <- [
        {"GeoIP2 Database", ~p"/toolbox/geoip2"},
        {"Whois Domain / IP / ASN", ~p"/toolbox/whois"},
        {"Lookup MAC Manufacturer", ~p"/toolbox/mac_manufacturer"},
        {"SVG to React Component", ~p"/toolbox/svg2react"},
        {"SVG Autocrop, Optimize SVG", ~p"/toolbox/svg_autocrop"},
        {"IP to Geo Map", ~p"/toolbox/ip_to_geomap"}
      ]
    }
    class="card bg-primary text-primary-content shadow-primary shadow-md"
  >
    <div class="card-body">
      <h2 class="card-title">{name}</h2>
      <div class="card-actions justify-end">
        <.link href={url} class="btn">
          Visit
        </.link>
      </div>
    </div>
  </div>
</div>
