<h3 class="text-2xl text-center mt-4">SVG to React Component</h3>

<div class="min-w-2/3 flex flex-col justify-center items-center">
  <div class="w-full flex flex-col md:flex-row justify-center items-center gap-4">
    <div class="w-full flex flex-col justify-center items-center">
      <label>SVG</label>
      <textarea id="svg-input" class="w-full" rows={20} ></textarea>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
      <label>JSX</label>
      <textarea id="svg-output" class="w-full" rows={20}></textarea>
    </div>
  </div>
  <div class="w-full my-4 flex justify-center items-center">
    <.button id="svg-convert">Convert</.button>
  </div>
  <script>
  const path = window.location.pathname;
  const btn = document.getElementById('svg-convert');
  const ipt = document.getElementById('svg-input');
  const opt = document.getElementById('svg-output');

  const convert = () => {
    btn.disabled = true;
    const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
    const code = ipt.value;
    const options = {};

    fetch(path, {
      method: 'POST',
      body: JSON.stringify({code: code, options: options}),
      headers: {
        'content-type': 'application/json',
        'x-csrf-token': csrfToken,
      },
    }).then((resp) => {
      return resp.json();
    }).then(({ data }) => {
      opt.value = data.output;
      btn.disabled = false;
    }).catch((err) => {
      console.error(err);
      btn.disabled = false;
    });
  }

  btn.addEventListener('click', convert);

  </script>
</div>
