<div class="flex flex-col gap-12">
  <section class="flex flex-col gap-4">
    <header class="flex items-center">
      <h1 class="text-2xl">Content Overview</h1>
    </header>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/users"}>User List</.dm_link>
        <div class="flex flex-row gap-2 items-center">
          <label class="after:content-[':']">User Count</label>
          <span class="text-cyan-600">{@data.user_count}</span>
        </div>
      </div>
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/user_tokens"}>User Token List</.dm_link>
        <div class="flex flex-row gap-2 items-center">
          <label class="after:content-[':']">Logined User Count</label>
          <span class="text-cyan-600">{@data.token_count}</span>
        </div>
      </div>
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/blogs"}>Blog List</.dm_link>
        <div class="flex flex-row gap-2 items-center">
          <label class="after:content-[':']">Blog Count</label>
          <span class="text-cyan-600">{@data.blog_count}</span>
        </div>
      </div>
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/github"}>Github</.dm_link>
        <div class="flex flex-row gap-2 items-center">
          <label class="after:content-[':']">Github</label>
          <span class="text-cyan-600">Github Management</span>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <header class="flex items-center">
      <h1 class="text-2xl">Cluster Overview</h1>
    </header>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/node_management"}>Node Management</.dm_link>
        <div class="flex flex-row gap-2 items-center">
          <label class="after:content-[':']">Node Count</label>
          <span class="text-cyan-600">{Node.list() |> length}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <header class="flex items-center">
      <h1 class="text-2xl">Command Platform</h1>
    </header>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/command_platform"}>Commander Management</.dm_link>
      </div>
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/mnesia"}>Mnesia Management</.dm_link>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <header class="flex items-center">
      <h1 class="text-2xl">Dashboard</h1>
    </header>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-col border border-green-200 p-4">
        <.dm_link navigate={~p"/live_dashboard"}>Live Dashboard</.dm_link>
      </div>
    </div>
  </section>
</div>
