<h3 class="mx-4 my-2 text-3xl text-blue-600"><%= @page_title %></h3>

<div class="mx-4 my-2 flex gap-2">
  <.link
    class="rounded-lg bg-green-600 hover:bg-green-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80"
    navigate={~p"/users"}
  >
    All User List
  </.link>
  <%= if !is_nil(@user.id) do %>
    <.link
      class="rounded-lg bg-green-600 hover:bg-green-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80"
      navigate={~p"/users/#{@user.id}"}
    >
      Show User
    </.link>
  <% end %>
</div>

<div class="mx-4 my-2">
  <.simple_form :let={f} for={@changeset} id="user-form" method={:post} phx-submit="save">
    <.input field={f[:email]} type="text" label="Email" />
    <.input field={f[:username]} type="text" label="Username" />
    <.input field={f[:name]} type="text" label="Name" />
    <.input field={f[:portrait]} type="text" label="Portrait" />
    <.input field={f[:otp_token]} type="text" label="TOTP Token" />
    <.input field={f[:is_2fa_enabled]} type="checkbox" label="2FA" />
    <:actions>
      <.button class="w-full" phx-disable-with="Saving...">Save</.button>
    </:actions>
  </.simple_form>
</div>
