<.dm_simple_appbar title={assigns[:page_title]} class="h-14 text-white bg-rose-600 ">
  <:logo>
    <.link navigate={~p"/"}>
      <logo-gsmlg-dev />
    </.link>
  </:logo>
  <:user_profile>
    <.link href={~p"/sign_out"} method="DELETE" data-confirm="Really?">Sign Out</.link>
  </:user_profile>
</.dm_simple_appbar>
<main class="flex flex-col items-center min-h-screen w-full">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
