<.local_app_bar page_title={assigns[:page_title]} />

<.dm_flash_group flash={@flash} />

<main class="flex flex-row px-4 sm:px-6 lg:px-8">
  <.dm_left_menu>
    <:menu>
      <h2 class="menu-title">Route 53</h2>
      <ul>
        <li>
          <.link
            class={if("route53_hosted_zone_list" == assigns[:active_menu], do: "active")}
            navigate={~p"/aws/route53/hosted_zones"}
          >
            Hosted Zone List
          </.link>
        </li>
      </ul>
    </:menu>
  </.dm_left_menu>
  <div class="flex flex-col flex-auto mx-auto max-w-screen-2xl">
    {@inner_content}
  </div>
</main>
