<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · GSMLG BITW">
      <%= assigns[:page_title] || "GSMLG BITW" %>
    </.live_title>
    <script async type="module" src="https://esm-run.gsmlg.dev/@gsmlg/lit">
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-base-100 text-base-content antialiased flex flex-col overflow-x-hidden w-screen h-min-screen">
    <%= @inner_content %>
  </body>
</html>
