<.dm_appbar title={assigns[:page_title]} class="h-14">
  <:logo>
    <.dm_link href={~p"/"}>
      <logo-gsmlg-dev />
    </.dm_link>
  </:logo>
  <:user_profile>
    <.dm_link href={~p"/sign_out"} method="DELETE" data-confirm="Really?">Sign Out</.dm_link>
  </:user_profile>
</.dm_appbar>
<main class="flex flex-row px-4 sm:px-6 lg:px-8">
  <.dm_left_menu>
    <:menu>
      <.dm_left_menu_group active={assigns[:active_menu]}>
        <:title class="font-bold">User Managment</:title>
        <:menu id="user_list" to={~p"/users"}>User List</:menu>
        <:menu id="user_token_list" to={~p"/user_tokens"}>User Token</:menu>
      </.dm_left_menu_group>
    </:menu>
    <:menu>
      <.dm_left_menu_group active={assigns[:active_menu]}>
        <:title class="font-bold">Blog Management</:title>
        <:menu id="blog_list" to={~p"/blogs"}>Blog List</:menu>
        <:menu id="blog_import" to={~p"/blogs/import"}>Blog Import</:menu>
      </.dm_left_menu_group>
    </:menu>
  </.dm_left_menu>
  <div class="flex flex-col flex-auto mx-auto max-w-screen-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
