<.local_app_bar page_title={assigns[:page_title]} />

<.dm_flash_group flash={@flash} />

<main class="flex flex-1 w-full">
  <div class="relative">
    <.dm_left_menu class="sticky top-0">
      <:menu>
        <h2 class="menu-title">User Managment</h2>
        <ul>
          <li>
            <.link
              class={if("user_list" == assigns[:active_menu], do: "active")}
              navigate={~p"/users"}
            >
              User List
            </.link>
          </li>
          <li>
            <.link
              class={if("user_token_list" == assigns[:active_menu], do: "active")}
              navigate={~p"/user_tokens"}
            >
              User Token
            </.link>
          </li>
        </ul>
      </:menu>
      <:menu>
        <h2 class="menu-title">Blog Managment</h2>
        <ul>
          <li>
            <.link
              class={if("blog_list" == assigns[:active_menu], do: "active")}
              navigate={~p"/blogs"}
            >
              Blog List
            </.link>
          </li>
          <li>
            <.link
              class={if("blog_import" == assigns[:active_menu], do: "active")}
              navigate={~p"/blogs/import"}
            >
              Blog Import
            </.link>
          </li>
        </ul>
      </:menu>
    </.dm_left_menu>
  </div>
  <div class="flex flex-col flex-auto mx-auto max-w-screen-2xl">
    {@inner_content}
  </div>
</main>
