<section :for={{group, repos} <- @group_repos} class="container flex flex-col my-12">
  <h3 class="flex justify-center gap-4 flex-wrap text-4xl my-24">
    <code class="text-info">{group}</code>
    <span class="text-neutral-content">{dgettext("github", "Github Repos")}</span>
  </h3>
  <div class="grid grid-cols-auto-fill-96 gap-4 px-4">
    <.github_repo_card :for={repo <- repos} repo={repo} />
  </div>
</section>
