<Layouts.user flash={@flash} page_title={@page_title} active_menu={@active_menu}>
  <div :if={@live_action == :index} class="container flex flex-col gap-2 mt-4 w-full">
    <div class="mx-4 my-2 flex flex-row justify-end">
      <.link class="btn btn-primary" patch={~p"/users/new"}>
        Add User
      </.link>
    </div>
    <.dm_table
      data={@users}
      class="table-primary-border table-animate-row [&_thead]:bg-primary [&_thead]:text-primary-content"
    >
      <:col :let={u} label="Email">
        {u.email}
      </:col>
      <:col :let={u} label="Username">
        {u.username}
      </:col>
      <:col :let={u} label="Name">
        {u.name}
      </:col>
      <:col :let={u} label="Active">
        {u.is_active}
      </:col>
      <:col :let={u} label="Enable 2FA">
        {u.is_2fa_enabled}
      </:col>

      <:col :let={u} label="">
        <div class="flex gap-2">
          <.link class="btn btn-info" patch={~p"/users/#{u.id}"}>
            Show
          </.link>
          <.link class="btn btn-warning" patch={~p"/users/#{u.id}/edit"}>
            Edit
          </.link>
          <.link class="btn btn-secondary" patch={~p"/users/#{u.id}/reset_password"}>
            Reset Password
          </.link>
          <.dm_btn
            id={"id-del-#{u.username}"}
            confirm={dgettext("user", "Do you want to remove this user?")}
            class="btn-error"
            confirm_class="btn-error btn-sm"
            cancel_class="btn-ghost btn-sm"
            confirm_title="Attention!"
          >
            Delete
            <:confirm_action>
              <form method="dialog">
                <.dm_btn
                  phx-click={JS.push("delete", value: %{id: u.id})}
                  class="btn-error btn-sm"
                >
                  Delete
                </.dm_btn>
              </form>
            </:confirm_action>
          </.dm_btn>
        </div>
      </:col>
    </.dm_table>
  </div>

  <div
    :if={@live_action == :new || @live_action == :edit}
    class="container flex flex-col gap-2 mt-4 w-full"
  >
    <div class="mx-4 my-2 flex gap-2">
      <.link class="btn btn-primary" patch={~p"/users"}>
        All User List
      </.link>
      <%= if !is_nil(@user.id) do %>
        <.link class="btn btn-info" patch={~p"/users/#{@user.id}"}>
          Show User
        </.link>
      <% end %>
    </div>

    <div class="mx-4 my-2">
      <.dm_form
        :let={f}
        for={@changeset}
        id="user-form"
        class="flex flex-col gap-4 w-full max-w-2xl *:w-full"
        phx-submit="save"
      >
        <.dm_input field={f[:email]} type="text" label="Email" class="w-full max-w-7xl" />
        <.dm_input field={f[:username]} type="text" label="Username" class="w-full max-w-7xl" />
        <.dm_input field={f[:name]} type="text" label="Name" class="w-full max-w-7xl" />
        <.dm_input field={f[:portrait]} type="text" label="Portrait" class="w-full max-w-7xl" />
        <.dm_input field={f[:otp_token]} type="text" label="TOTP Token" class="w-full max-w-7xl" />
        <.dm_input field={f[:is_2fa_enabled]} type="toggle" label="2FA" class="" />
        <:actions>
          <.dm_btn class="btn-primary w-full max-w-md" phx-disable-with="Saving...">Save</.dm_btn>
        </:actions>
      </.dm_form>
    </div>
  </div>

  <div :if={@live_action == :show} class="container flex flex-col gap-2 mt-4 w-full">
    <div class="mx-4 my-2 flex gap-2">
      <.link class="btn btn-primary" patch={~p"/users"}>
        All User List
      </.link>

      <.link class="btn btn-warning" patch={~p"/users/#{@user.id}/edit"}>
        Edit User
      </.link>
      <.link class="btn btn-secondary" patch={~p"/users/#{@user.id}/reset_password"}>
        Reset Password
      </.link>
    </div>

    <div class="mx-8 my-2">
      <%= for name <- Map.keys(@user) do %>
        <div class="flex flex-row">
          <div class="flex-1 text-blue-400">
            {name}
          </div>
          <div class="flex-1">
            {Map.get(@user, name) |> inspect}
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div :if={@live_action == :reset_password} class="container flex flex-col gap-2 mt-4 w-full">
    <div class="mx-4 my-2 flex gap-2">
      <.link class="btn btn-primary" patch={~p"/users"}>
        All User List
      </.link>
      <.link class="btn btn-info" patch={~p"/users/#{@user.id}"}>
        Show User
      </.link>
    </div>

    <div class="mx-4 my-2">
      <h2 class="text-xl font-semibold mb-4">
        Reset password for {@user.username}
      </h2>

      <p :if={@password_error} class="text-error mb-4">{@password_error}</p>

      <form
        id="reset-password-form"
        class="flex flex-col gap-4 w-full max-w-2xl"
        phx-submit="reset_password"
      >
        <div class="form-control w-full max-w-7xl">
          <label class="label" for="password">
            <span class="label-text">New Password</span>
          </label>
          <input
            type="password"
            name="password"
            id="password"
            required
            minlength="8"
            class="input input-bordered w-full"
            placeholder="Minimum 8 characters"
          />
        </div>
        <div class="form-control w-full max-w-7xl">
          <label class="label" for="password_confirmation">
            <span class="label-text">Confirm Password</span>
          </label>
          <input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            required
            minlength="8"
            class="input input-bordered w-full"
          />
        </div>
        <div>
          <.dm_btn class="btn-primary w-full max-w-md" phx-disable-with="Resetting...">
            Reset Password
          </.dm_btn>
        </div>
      </form>
    </div>
  </div>
</Layouts.user>
