<h1>Listing Users</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.user_index_path(@socket, :index)}>
    <.live_component
      module={GSMLGWeb.UserLive.FormComponent}
      id={@user.id || :new}
      title={@page_title}
      action={@live_action}
      user={@user}
      return_to={Routes.user_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<span><%= live_patch "New User", to: Routes.user_index_path(@socket, :new) %></span>

<bx-data-table>
  <bx-table>
    <bx-table-head>
      <bx-table-header-row>
        <bx-table-header-cell>Name</bx-table-header-cell>
        <bx-table-header-cell>Email</bx-table-header-cell>
        <bx-table-header-cell>Password</bx-table-header-cell>
        <bx-table-header-cell>Password salt</bx-table-header-cell>
        <bx-table-header-cell>Is active</bx-table-header-cell>
        <bx-table-header-cell>Otp token</bx-table-header-cell>
        <bx-table-header-cell>Verify code</bx-table-header-cell>
        <bx-table-header-cell>Portrait</bx-table-header-cell>
        <bx-table-header-cell>Google</bx-table-header-cell>
        <bx-table-header-cell>Apple</bx-table-header-cell>
        <bx-table-header-cell>Github</bx-table-header-cell>
        <bx-table-header-cell>Active time</bx-table-header-cell>
        <bx-table-header-cell></bx-table-header-cell>
      </bx-table-header-row>
    </bx-table-head>
    <bx-table-body id="users">
      <%= for user <- @users do %>
        <bx-table-row id={"user-#{user.id}"}>
          <bx-table-cell><%= user.name %></bx-table-cell>
          <bx-table-cell><%= user.email %></bx-table-cell>
          <bx-table-cell><%= user.password %></bx-table-cell>
          <bx-table-cell><%= user.password_salt %></bx-table-cell>
          <bx-table-cell><%= user.is_active %></bx-table-cell>
          <bx-table-cell><%= user.otp_token %></bx-table-cell>
          <bx-table-cell><%= user.verify_code %></bx-table-cell>
          <bx-table-cell><%= user.portrait %></bx-table-cell>
          <bx-table-cell><%= user.google_id %></bx-table-cell>
          <bx-table-cell><%= user.apple_id %></bx-table-cell>
          <bx-table-cell><%= user.github_id %></bx-table-cell>
          <bx-table-cell><%= user.active_time %></bx-table-cell>

          <bx-table-cell>
            <span><%= live_redirect "Show", to: Routes.user_show_path(@socket, :show, user) %></span>
            <span><%= live_patch "Edit", to: Routes.user_index_path(@socket, :edit, user) %></span>
            <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: user.id, data: [confirm: "Are you sure?"] %></span>
          </bx-table-cell>
        </bx-table-row>
      <% end %>
    </bx-table-body>
  </bx-table>
</bx-data-table>
