<h1>Show User</h1>

<span><%= bx_live_redirect "Edit", to: Routes.user_modify_path(@socket, :edit, @user), kind: "primary" %></span> |
<span><%= bx_live_redirect "Back", to: Routes.user_index_path(@socket, :index), kind: "ghost" %></span>

<bx-structured-list>
    <bx-structured-list-head>
      <bx-structured-list-header-row>
      </bx-structured-list-header-row>
    </bx-structured-list-head>
    <bx-structured-list-body>
      <bx-structured-list-row>
        <bx-structured-list-cell>
          <strong>Username:</strong>
        </bx-structured-list-cell>
        <bx-structured-list-cell>
            <%= @user.username %>
            </bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Name:</strong></bx-structured-list-cell>
        <bx-structured-list-cell>
    <%= @user.name %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Email:</strong></bx-structured-list-cell>
        <bx-structured-list-cell>
    <%= @user.email %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Is Active:</strong></bx-structured-list-cell>
        <bx-structured-list-cell>
    <%= @user.is_active %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Portrait:</strong></bx-structured-list-cell>
        <bx-structured-list-cell>
    <%= @user.portrait %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Google:</strong>
    <%= @user.google_id %></bx-structured-list-cell>
        <bx-structured-list-cell></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Apple:</strong>
    <%= @user.apple_id %></bx-structured-list-cell>
        <bx-structured-list-cell></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Github:</strong>
    <%= @user.github_id %></bx-structured-list-cell>
        <bx-structured-list-cell></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><strong>Active Time:</strong>
    <%= @user.active_time %></bx-structured-list-cell>
        <bx-structured-list-cell></bx-structured-list-cell>
      </bx-structured-list-row>
    </bx-structured-list-body>
  </bx-structured-list>
