<h3 class="mx-4 my-2 text-3xl text-blue-600"><%= @page_title %></h3>

<div class="mx-4 my-2 flex gap-2">
    <.link class="rounded-lg bg-green-600 hover:bg-green-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80" navigate={~p"/admin/users"}>
        All User List
    </.link>

    <.link class="rounded-lg bg-blue-600 hover:bg-blue-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80" navigate={~p"/admin/users/#{@user.id}/edit"}>
        Edit User
    </.link>
</div>

<div class="mx-8 my-2">
    <%= for name <- Map.keys(@user) do %>
    <div class="flex flex-row">
        <div class="flex-1 text-blue-400">
            <%= name %>
        </div>
        <div class="flex-1">
            <%= Map.get(@user, name) |> inspect %>
        </div>
    </div>
    <% end %>
</div>
