<.dm_card>
  <:title>DynamoDb</:title>
</.dm_card>
<.dm_async_card
  :let={tables}
  :if={@live_action == :index}
  assign={@tables}
  class="section-card"
  skeleton_class="min-h-48"
>
  <:title class="flex flex-row">
    <h3 class="font-semibold text-2xl">DynamoDb Tables</h3>
  </:title>

  <ul class="list bg-base-100 rounded-box shadow-md">
    <li :for={table <- tables} class="list-row">
      <div class="list-col-grow	">
        <div>{table}</div>
      </div>
      <button class="btn btn-primary w-24">
        Show
      </button>
    </li>
  </ul>
</.dm_async_card>
