<Layouts.app flash={@flash}>
  <:header_slot>
    <div class="header-hero-container">
      <h1 class="header-hero-text">
        {@title}
      </h1>
    </div>
  </:header_slot>

  <div class="flex flex-col container px-8">
    <div class="flex justify-center items-center">
      <form
        id="ip-geo-form"
        class="flex flex-col justify-center items-center gap-4 w-84 my-4"
      >
        <.dm_compact_input
          id="ip-input"
          class="w-full input-primary"
          name="ip"
          value=""
          label={dgettext("toolbox", "IP")}
        />
        <.dm_btn id="ip-submit" class="btn-primary btn-block" type="submit">
          {dgettext("toolbox", "Lookup")}
        </.dm_btn>
      </form>
    </div>

    <div id="ip-result" class="my-4 flex flex-col justify-center items-center"></div>
  </div>

  <script type="module" src={~p"/assets/tools/ip_geo.js"}>
  </script>
</Layouts.app>
