<Layouts.app flash={@flash}>
  <:header_slot>
    <div class="header-hero-container">
      <h1 class="header-hero-text">
        {@title}
      </h1>
    </div>
  </:header_slot>
  <div class="flex flex-col container px-4 gap-4">
    <div class="flex justify-center items-center">
      <div class="w-full aspect-2/1 flex flex-row justify-center items-center">
        <d3-world-map id="ip-geo-map" class="w-full h-screen aspect-2/1 skeleton" />
      </div>
    </div>

    <div class="flex flex-col justify-center items-center gap-4">
      <div class="w-full flex flex-row justify-center items-center">
        <textarea id="ip-data" class="textarea textarea-primary w-full" rows="10"></textarea>
      </div>
      <div class="w-full flex flex-row justify-center items-center">
        <.dm_btn id="submit-ip" class="btn-primary btn-block max-w-xs">
          {dgettext("toolbox", "Display IP location on the map")}
        </.dm_btn>
      </div>
    </div>

    <script type="module" src={~p"/assets/tools/ip_to_geomap.js"}>
    </script>

    <div class="w-full h-16" />
  </div>
</Layouts.app>
