<Layouts.app flash={@flash}>
  <:header_slot>
    <div class="header-hero-container">
      <h1 class="header-hero-text">
        {@title}
      </h1>
    </div>
  </:header_slot>
  <div class="flex flex-col container px-8 gap-6">
    <div class="flex flex-col justify-center items-center gap-4 p-4">
      <div class="w-full h-full min-h-96 flex justify-center">
        <canvas id="screen-saver-canvas" class="w-full h-full min-h-96 rounded-lg" />
        <video id="screen-saver-video" class="hidden w-full h-full min-h-96" controls></video>
      </div>
      <.dm_btn id="screen-saver-trigger" class="btn-primary">
        {dgettext("toolbox", "start-fullscreen")}
      </.dm_btn>
      <script type="module">
        import * as THREE from 'https://esm-run.gsmlg.dev/three';
        let camera, scene, renderer, clock, smokeParticles;

        const canvas = document.querySelector('#screen-saver-canvas');
        const video = document.querySelector('#screen-saver-video');

        init();
        animate();

        function init() {
            clock = new THREE.Clock();

            renderer = new THREE.WebGLRenderer({canvas: canvas});
            renderer.setSize( 640, 320 );

            scene = new THREE.Scene();

            camera = new THREE.PerspectiveCamera( 75, screen.width / screen.height, 1, 10000 );
            camera.position.z = 1000;
            scene.add( camera );

            const light = new THREE.DirectionalLight(0xffffff,Math.E);
            light.position.set(-1,0,1);
            scene.add(light);
          
            const smokeTexture = new THREE.TextureLoader().load('/images/Smoke-Element.png');
            const smokeMaterial = new THREE.MeshLambertMaterial({color: 0x00dddd, map: smokeTexture, transparent: true});
            const smokeGeo = new THREE.PlaneGeometry(300,300);
            smokeParticles = [];

            for (let p = 0; p < 150; p++) {
                var particle = new THREE.Mesh(smokeGeo,smokeMaterial);
                var f = 500;
                particle.position.set(Math.random()*f-250,Math.random()*f-250,Math.random()*f*2-100);
                particle.rotation.z = Math.random() * 360;
                scene.add(particle);
                smokeParticles.push(particle);
            }
        }

        function animate() {
            const delta = clock.getDelta();
            requestAnimationFrame( animate );
            let sp = smokeParticles.length;
            while(sp--) {
                smokeParticles[sp].rotation.z += (delta * 0.2);
            }
            renderer.render( scene, camera );
        }

        video.addEventListener("fullscreenchange", (event) => {
          if (document.fullscreenElement) {
            console.log(
              `Element: ${document.fullscreenElement.id} entered fullscreen mode.`,
            );
            renderer.setSize( screen.width, screen.height );
            video.classList.remove('hidden');
            video.play();
          } else {
            console.log("Leaving fullscreen mode.");
            renderer.setSize( 640, 320 );
            video.classList.add('hidden');
          }
        });

        function fullscreenCanvas() {
          const stream = canvas.captureStream(60);
          video.classList.remove('hidden');
          video.srcObject = stream;
          if (video.webkitEnterFullScreen && video.webkitSupportsFullscreen) {
            // Toggle fullscreen in Safari for iPad
            video.webkitEnterFullScreen();
          } else if (video.requestFullscreen) {
            // Toggle fullscreen for other OS / Devices / Browsers
            video.requestFullscreen();
          } else {
            alert('Your browser does not support fullscreen mode.');
            renderer.setSize( screen.width, screen.height );
          }
          video.play();
        }

        document.querySelector('#screen-saver-trigger').addEventListener('click', () => {
          fullscreenCanvas();
        });
      </script>
    </div>
  </div>
</Layouts.app>
