<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GSMLG", suffix: " · BITW" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <ui5-shellbar
      id="shellbar"
      primary-title="GSMLG"
      secondary-title="Best in the World"
      show-co-pilot
    >
      <img width="160" slot="logo" src={Routes.static_path(@conn, "/images/banner.svg")} />
      <ui5-avatar slot="profile">
        <% user = GSMLGWeb.Guardian.Plug.current_resource(@conn); %>
        <%= unless is_nil(user) do %>
          <img src={Routes.static_path(@conn, "/images/default_portrait.svg")} />
        <% end %>
      </ui5-avatar>
      <ui5-shellbar-item id="disc" icon="disconnected" text="Disconnect"></ui5-shellbar-item>
    </ui5-shellbar>
    <ui5-popover id="popover" placement-type="Bottom">
      <div class="popover-header">
        <ui5-title style="padding: 0.25rem 1rem 0rem 1rem; text-align: center"><%= unless is_nil(user), do: user.name %></ui5-title>
      </div>
      <div class="popover-content">
        <ui5-list separators="None" >
          <ui5-li icon="document">Profile</ui5-li>
          <ui5-li icon="settings">Settings</ui5-li>
          <ui5-li icon="sys-help">Help</ui5-li>
          <ui5-li icon="log">
            <%= link("Sign out", to: Routes.auth_path(@conn, :sign_out), method: :delete) %>
          </ui5-li>
        </ui5-list>
      </div>
    </ui5-popover>
    <script>
      const shellbar = document.getElementById('shellbar');
      shellbar.addEventListener("profile-click", function(event) {
        popover.showAt(event.detail.targetRef);
      });
    </script>

    <div class="main">
    <ui5-side-navigation>
      <ui5-side-navigation-item text="Home" icon="home"></ui5-side-navigation-item>
      <ui5-side-navigation-item text="Blog" expanded icon="document">
        <ui5-side-navigation-sub-item text="Blog List" href={Routes.blog_index_path(@conn, :index)}></ui5-side-navigation-sub-item>
        <ui5-side-navigation-sub-item text="New Blog" href={Routes.blog_modify_path(@conn, :new)}></ui5-side-navigation-sub-item>
      </ui5-side-navigation-item>
      <ui5-side-navigation-item text="Account" expanded icon="account">
        <ui5-side-navigation-sub-item text="User List" href={Routes.user_index_path(@conn, :index)}></ui5-side-navigation-sub-item>
        <ui5-side-navigation-sub-item text="New User" href={Routes.user_modify_path(@conn, :new)}></ui5-side-navigation-sub-item>
        <ui5-side-navigation-sub-item text="User Token List" href={Routes.user_token_index_path(@conn, :index)}></ui5-side-navigation-sub-item>
      </ui5-side-navigation-item>
      <ui5-side-navigation-item text="Node Management" icon="machine" href={Routes.node_management_path(@conn, :index)}></ui5-side-navigation-item>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <ui5-side-navigation-item text="Live Dashboard" icon="bbyd-dashboard" href={Routes.live_dashboard_path(@conn, :home)}></ui5-side-navigation-item>
      <% end %>
    </ui5-side-navigation>
    <script>
document.querySelectorAll('ui5-side-navigation').forEach((el) => {
  el.addEventListener('click', (evt) => {
    const srcEl = evt.srcElement;
    if (srcEl === el) return;
    const href = srcEl.getAttribute('href');
    if (href != null) {
      location.href = href;
    }
  });
});
const sideNavigation = document.querySelector("ui5-side-navigation");
document.querySelector("#startButton").addEventListener("click", (event) => {
  sideNavigation.collapsed = !sideNavigation.collapsed;
});
    </script>
    <%= @inner_content %>
    </div>
  </body>
</html>
