<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GSMLG", suffix: " · BITW" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <ui5-shellbar
      primary-title="GSMLG"
      secondary-title="Best in the World"
      show-co-pilot
    >
      <ui5-button icon="menu" slot="startButton" id="startButton"></ui5-button>
    </ui5-shellbar>

    <div class="main">
    <ui5-side-navigation>
      <ui5-side-navigation-item text="Home" icon="home"></ui5-side-navigation-item>
      <ui5-side-navigation-item text="Blog" expanded icon="document">
        <ui5-side-navigation-sub-item text="Blog List" href={Routes.blog_index_path(@conn, :index)}></ui5-side-navigation-sub-item>
        <ui5-side-navigation-sub-item text="New Blog" href={Routes.blog_modify_path(@conn, :new)}></ui5-side-navigation-sub-item>
      </ui5-side-navigation-item>
      <ui5-side-navigation-item text="Account" expanded icon="account">
        <ui5-side-navigation-sub-item text="User List" href={Routes.user_index_path(@conn, :index)}></ui5-side-navigation-sub-item>
        <ui5-side-navigation-sub-item text="New User" href={Routes.user_modify_path(@conn, :new)}></ui5-side-navigation-sub-item>
      </ui5-side-navigation-item>
      <ui5-side-navigation-item text="Node Management" icon="node" href={Routes.node_management_path(@conn, :index)}></ui5-side-navigation-item>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <ui5-side-navigation-item text="Live Dashboard" icon="history" href={Routes.live_dashboard_path(@conn, :home)}></ui5-side-navigation-item>
      <% end %>
    </ui5-side-navigation>

    <script>
document.querySelectorAll('ui5-side-navigation').forEach((el) => {
  el.addEventListener('click', (evt) => {
    const srcEl = evt.srcElement;
    if (srcEl === el) return;
    const href = srcEl.getAttribute('href');
    if (href != null) {
      location.href = href;
    }
  });
});
    </script>
    <%= @inner_content %>
    </div>
  </body>
</html>
