<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GSMLG", suffix: " · BITW" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script async phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <mwc-drawer class="drawer" hasHeader type="dismissible">
      <span class="drawer-title" slot="title">GSMLG</span>
      <span class="drawer-subtitle" slot="subtitle">Best in the World</span>
      <hr slot="subtitle" />
      <mwc-list>
          <%= wc_live_redirect "Home", to: Routes.page_path(@conn, :index), fullwidth: true %>

          <%= wc_live_redirect "Blog List", to: Routes.blog_index_path(@conn, :index), fullwidth: true %>

          <%= wc_live_redirect "New Blog", to: Routes.blog_modify_path(@conn, :new), fullwidth: true %>

          <%= wc_live_redirect "User List", to: Routes.user_index_path(@conn, :index), fullwidth: true %>

          <%= wc_live_redirect "New user", to: Routes.user_modify_path(@conn, :new), fullwidth: true %>

          <%= wc_live_redirect "User Token List", to: Routes.user_token_index_path(@conn, :index), fullwidth: true %>

          <%= wc_live_redirect "Node Management", to: Routes.node_management_path(@conn, :index), fullwidth: true %>

          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= wc_live_redirect "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home), fullwidth: true %>
          <% end %>
      </mwc-list>

      <.wc_top_app_bar fixed centerTitle slot="appContent" title={@page_title}>
        <mwc-icon-button icon="menu" slot="navigationIcon"></mwc-icon-button>
        <div slot="actionItems">
          <% user = GSMLGWeb.Guardian.Plug.current_resource(@conn); %>
          <mwc-icon-button icon="account" id="account"></mwc-icon-button>
          <mwc-menu id="account-menu">
            <mwc-list-item graphic="avatar">
              <mwc-icon slot="graphic">account</mwc-icon>
              <%= unless is_nil(user), do: user.name %>
            </mwc-list-item>
            <mwc-list-item>Item 1</mwc-list-item>
            <mwc-list-item>Item 2</mwc-list-item>
            <mwc-list-item>
              <%= wc_link("Sign out", to: Routes.auth_path(@conn, :sign_out), method: :delete, id: "user-sign-out") %>
            </mwc-list-item>
          </mwc-menu>
        </div>

        <div class="main">
          <%= @inner_content %>
        </div>
      </.wc_top_app_bar>

    </mwc-drawer>
  </body>
</html>
