<.dm_async_card
  :let={hosted_zones}
  :if={@live_action == :list_zones}
  assign={@hosted_zones}
  class="section-card"
  skeleton_class="min-h-48"
>
  <:title class="flex flex-row">
    <h3 class="font-semibold text-2xl">Hosted Zones</h3>
  </:title>

  <.dm_table data={hosted_zones.list}>
    <:col :let={zone} label="Id">
      <%= Map.get(zone, "Id") %>
    </:col>
    <:col :let={zone} label="Name">
      <%= Map.get(zone, "Name") %>
    </:col>
    <:col :let={zone} label="Record Count">
      <%= Map.get(zone, "ResourceRecordSetCount") %>
    </:col>
    <:col :let={zone} label="Comment">
      <%= get_in(zone, ["Config", "Comment"]) %>
    </:col>

    <:col :let={zone} label="">
      <div class="flex gap-2">
        <.link
          class="btn btn-sm btn-info"
          patch={
            ~p"/aws/route53/hosted_zones/#{case Map.get(zone, "Id") do
              "/hostedzone/" <> id -> id
              id -> id
            end}/records"
          }
        >
          List Records
        </.link>
      </div>
    </:col>
  </.dm_table>

  <div :if={!is_nil(hosted_zones.next_token)}>
    <div class="flex gap-2">
      <button
        class="btn btn-sm btn-block	btn-primary"
        phx-click={
          JS.push("next_token", value: %{"next_zones" => Tuple.to_list(hosted_zones.next_token)})
        }
      >
        Next
      </button>
    </div>
  </div>
</.dm_async_card>

<.dm_async_card
  :let={resource_record_sets}
  :if={@live_action == :list_records}
  assign={@resource_record_sets}
  class="section-card"
  skeleton_class="min-h-48"
>
  <:title class="flex flex-row">
    <.link class="btn btn-sm btn-primary" patch={~p"/aws/route53/hosted_zones"}>
      <%= "<<" %>
    </.link>
    <h3 class="font-semibold text-2xl">Resource Record Sets</h3>
  </:title>

  <.dm_table data={resource_record_sets.list}>
    <:col :let={rr} label="Name">
      <%= Map.get(rr, "Name") %>
    </:col>
    <:col :let={rr} label="TTL">
      <%= Map.get(rr, "TTL") %>
    </:col>
    <:col :let={rr} label="Type">
      <%= Map.get(rr, "Type") %>
    </:col>
    <:col :let={rr} label="RData">
      <%= case get_in(rr, ["ResourceRecords", "ResourceRecord"]) do
        %{"Value" => value} ->
          {:safe, ~s(<div class="break-all">#{value}</div>)}

        list when is_list(list) ->
          {:safe,
           ~s(<div class="flex flex-col gap-2">#{list |> Enum.map(&Map.get(&1, "Value")) |> Enum.map(fn n -> ~s(<div class="break-all bg-base-200 p-2 rounded w-fit">#{n}</div>) end)}</div>)}
      end %>
    </:col>

    <:col :let={rr} label="">
      <div class="flex gap-2">
        <button
          class="btn btn-sm btn-primary"
          phx-click={JS.push("edit_record", value: %{"record" => rr})}
        >
          Edit
        </button>
        <button
          class="btn btn-sm btn-error"
          phx-click={JS.push("delete_record", value: %{"record" => rr})}
        >
          Delete
        </button>
      </div>
    </:col>
  </.dm_table>

  <div :if={!is_nil(resource_record_sets.next_token)}>
    <div class="flex gap-2">
      <button
        class="btn btn-sm btn-block	btn-primary"
        phx-click={
          JS.push("next_token",
            value: %{"next_records" => Tuple.to_list(resource_record_sets.next_token)}
          )
        }
      >
        Next
      </button>
    </div>
  </div>
</.dm_async_card>
