<.dm_async_card
  :let={hosted_zones}
  :if={@live_action == :list_zones}
  assign={@hosted_zones}
  class="section-card"
  skeleton_class="min-h-48"
>
  <:title class="flex flex-row">
    <h3 class="font-semibold text-2xl">Hosted Zones</h3>
  </:title>

  <.dm_table
    data={hosted_zones.list}
    class="table-primary-border table-animate-row [&_thead]:bg-primary [&_thead]:text-primary-content"
  >
    <:col :let={zone} label="Id">
      {Map.get(zone, "Id")}
    </:col>
    <:col :let={zone} label="Name">
      {Map.get(zone, "Name")}
    </:col>
    <:col :let={zone} label="Record Count">
      {Map.get(zone, "ResourceRecordSetCount")}
    </:col>
    <:col :let={zone} label="Comment">
      {get_in(zone, ["Config", "Comment"])}
    </:col>

    <:col :let={zone} label="">
      <div class="flex gap-2">
        <.link
          class="btn btn-info"
          patch={
            ~p"/aws/route53/hosted_zones/#{case Map.get(zone, "Id") do
              "/hostedzone/" <> id -> id
              id -> id
            end}/records"
          }
        >
          List Records
        </.link>
      </div>
    </:col>
  </.dm_table>

  <div :if={!is_nil(hosted_zones.next_token)}>
    <div class="flex gap-2">
      <button
        class="btn btn-block btn-primary"
        phx-click={
          JS.push("next_token", value: %{"next_zones" => Tuple.to_list(hosted_zones.next_token)})
        }
      >
        Next
      </button>
    </div>
  </div>
</.dm_async_card>

<.dm_async_card
  :let={resource_record_sets}
  :if={@live_action == :list_records}
  assign={@resource_record_sets}
  class="section-card"
  skeleton_class="min-h-48"
>
  <:title class="flex flex-row items-center">
    <.link class="btn btn-primary" patch={~p"/aws/route53/hosted_zones"}>
      <.dm_mdi name="chevron-double-left" class="w-6 h-6" />
    </.link>
    <h3 class="w-full font-semibold text-2xl">Resource Record Sets</h3>
    <.dm_modal class="">
      <:trigger :let={f}>
        <button
          class="btn btn-circle btn-primary w-12 h-12"
          onclick={"document.getElementById('#{f}').showModal()"}
        >
          <.dm_mdi name="plus" class="w-8 h-8" />
        </button>
      </:trigger>
      <:title>Add Resource Record</:title>
      <:body>
        <.dm_form :let={f} method="dialog" class="w-full *:w-full">
          <.dm_input field={f[:name]} label="Name" class="w-full" />
          <.dm_input field={f[:ttl]} label="TTL" class="w-full" type="number" min={0} max={65535} />
          <.dm_input
            field={f[:type]}
            label="Type"
            type="select"
            class="w-full"
            options={[
              "A",
              "AAAA",
              "CAA",
              "CNAME",
              "DS",
              "HTTPS",
              "MX",
              "NAPTR",
              "NS",
              "PTR",
              "SOA",
              "SPF",
              "SRV",
              "SSHFP",
              "SVCB",
              "TLSA",
              "TXT"
            ]}
          />
          <.dm_input field={f[:rdata]} label="RData" type="textarea" class="w-full" />
          <div class="flex justify-end items-center gap-4 mt-4">
            <button class="btn btn-neutral">Close</button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </.dm_form>
      </:body>
    </.dm_modal>
  </:title>
  <.dm_table
    data={resource_record_sets |> Map.get(@hosted_zone_id, %{}) |> Map.get(:list, [])}
    class="table-primary-border table-animate-row [&_thead]:bg-primary [&_thead]:text-primary-content"
  >
    <:col :let={rr} label="Name" class="align-top">
      <span class="inline-block break-all">{Map.get(rr, "Name")}</span>
    </:col>
    <:col :let={rr} label="TTL" class="align-top">
      {Map.get(rr, "TTL")}
    </:col>
    <:col :let={rr} label="Type" class="align-top">
      {Map.get(rr, "Type")}
    </:col>
    <:col :let={rr} label="RData" class="align-top">
      <div
        :if={is_map(rr["ResourceRecords"]["ResourceRecord"])}
        class="break-all bg-base-200 p-2 rounded w-fit"
      >
        {rr["ResourceRecords"]["ResourceRecord"]["Value"]}
      </div>
      <div :if={is_list(rr["ResourceRecords"]["ResourceRecord"])} class="flex flex-col gap-2">
        <div
          :for={%{"Value" => n} <- get_in(rr, ["ResourceRecords", "ResourceRecord"])}
          class="break-all bg-base-200 p-2 rounded w-fit"
        >
          {n}
        </div>
      </div>
    </:col>

    <:col :let={rr} label="">
      <div class="flex gap-2">
        <button
          class="btn btn-primary"
          phx-click={JS.push("edit_record", value: %{"record" => rr})}
        >
          Edit
        </button>
        <.dm_btn
          id={"id-del-#{Map.get(rr, "Name")}$#{Map.get(rr, "Type")}"}
          confirm={
            dgettext("aws.route53", "Do you want to remove this RRset (%{name} %{type})?", %{
              name: Map.get(rr, "Name"),
              type: Map.get(rr, "Type")
            })
          }
          class="btn-error"
          confirm_class="btn-error"
          cancel_class="btn-ghost"
          confirm_title="Attention!"
        >
          Delete
          <:confirm_action>
            <form method="dialog">
              <.dm_btn
                class="btn-error"
                phx-click={JS.push("delete_record", value: %{"record" => rr})}
              >
                Delete
              </.dm_btn>
            </form>
          </:confirm_action>
        </.dm_btn>
      </div>
    </:col>
  </.dm_table>

  <% next_token = resource_record_sets |> Map.get(@hosted_zone_id, %{}) |> Map.get(:next_token) %>
  <div :if={!is_nil(next_token)}>
    <div class="flex gap-2">
      <button
        class="btn btn-block	btn-primary"
        phx-click={
          JS.push("next_token",
            value: %{"next_records" => Tuple.to_list(next_token)}
          )
        }
      >
        Next
      </button>
    </div>
  </div>
</.dm_async_card>
