<div class="container flex flex-col gap-6 my-12">
  <div :for={blog <- @blogs} class={["flex flex-col md:flex-row justify-between", "mx-4"]}>
    <h3 class="text-primary text-xl">
      <.link href={~p"/blogs/#{blog.slug}"}>
        <%= blog.title %>
      </.link>
      <author class="text-medium text-secondary">
        <%= blog.author %>
      </author>
    </h3>
    <time><%= blog.date %></time>
  </div>
</div>
