<div class="container flex flex-col gap-y-6 my-12">
  <%= for blog <- @blogs do %>
    <div class="flex flex-row justify-between">
      <h3 class="text-blue-500 text-xl">
        <.link href={~p"/blogs/#{blog.slug}"}>
          <%= blog.title %>
        </.link>
        <author class="text-medium text-fuchsia-200">
          <%= blog.author %>
        </author>
      </h3>
      <time><%= blog.date %></time>
    </div>
  <% end %>
</div>
