@layer components {
  .slogan-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-shadow: purple -0.3em -0.3em 0.5em;
    letter-spacing: 1em;
    background-image: linear-gradient(to left, purple, cyan, blue, green, yellow, orange, red);
    background-clip: text;
    background-size: 400%;
    animation-duration: 6180ms;
    animation-name: bg-move-x;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: transparent;
    @apply flex flex-col justify-center items-center my-16 whitespace-nowrap select-none;
  }

  @keyframes bg-move-x {
    0% {
      background-position: 0 0;
      text-shadow: purple -0.3em -0.3em 0.5em;
    }
    17% {
      text-shadow: cyan -0.2em -0.2em 0.7em;
    }
    34% {
      text-shadow: blue -0.1em -0.1em 0.9em;
    }
    50% {
      text-shadow: green 0em 0em 1.1em;
    }
    67% {
      text-shadow: yellow 0.1em 0.1em 0.9em;
    }
    84% {
      text-shadow: orange 0.2em 0.2em 0.7em;
    }
    100% {
      background-position: 100% 0;
      text-shadow: red 0.3em 0.3em 0.5em;
    }
  }

  @media (min-width: 1024px) {
    .slogan-text {
      writing-mode: horizontal-tb;
      text-orientation: mixed;
    }
  }
}

@layer components {
  .peer-checked\:flex.pop-menu {
    transform-origin: top;
    transform: scaleY(0.1);
  }
  .peer:checked ~ .peer-checked\:flex.pop-menu {
    transition: 0.3s all;
    transform: scaleY(1);

    @starting-style {
      transform: scaleY(0.1);
    }
  }
}

@layer components {
  .header-hero-container {
    @apply container flex justify-center items-center my-20;
  }
  .header-hero-text {
    @apply flex justify-center items-center font-bold select-none text-center;
    font-size: clamp(24px, 6vw, 76px);
  }
}

@layer components {

  .glitch-text {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch-text-animation 500ms infinite;

    span {
      display: none;
      position: absolute;
      top: 0;
      left: 0;

      &:first-child {
        animation: glitch-text-animation 650ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-0.025em, -0.0125em);
        /*   color: green; */
        opacity: 0.8;
      }

      &:last-child {
        animation: glitch-text-animation 375ms infinite;
        clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
        transform: translate(0.0125em, 0.025em);
        /*   color: red; */
        opacity: 0.8;
      }
    }
  }

  @keyframes glitch-text-animation {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

}
