html,
body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100vw;
  min-height: 100vh;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.slogan-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 1em;
  user-select: none;
  text-shadow: rgb(206, 70, 70) 0.1em 0.1em 0.3em;
}

@media (min-width: 1024px) {
  .slogan-text {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }
}
