<h3 class="mx-4 my-2 text-3xl text-blue-600">List User Tokens</h3>

<.wc_table rows={@user_tokens}>
    <:col let={t} label="Aud">
    <%= t.aud %>
    </:col>
    <:col let={t} label="Type">
    <%= t.typ %>
    </:col>
    <:col let={t} label="Issuer">
    <%= t.iss %>
    </:col>
    <:col let={t} label="Sub">
    <%= t.sub %>
    </:col>
    <:col let={t} label="Exp">
    <%= t.exp |> DateTime.from_unix!() |> DateTime.to_iso8601() %>
    </:col>
    <:col let={t} label="Nfb">
    <%= t.claims |> Map.get("nbf") |> DateTime.from_unix!() |> DateTime.to_iso8601() %>
    </:col>

    <:col let={t} label="">
      <div class="flex gap-2">
        <.link class="rounded-lg bg-green-600 hover:bg-green-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80" navigate={~p"/user_tokens/#{t.jti}"}>
            Show
        </.link>
        <.link class="rounded-lg bg-blue-600 hover:bg-blue-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80" navigate={~p"/user_tokens/#{t.jti}/edit"}>
            Edit
        </.link>
        <.link class="rounded-lg bg-red-600 hover:bg-red-400 py-2 px-3 text-sm font-semibold leading-6 text-center text-white active:text-white/80" phx-click={JS.push("delete", value: %{id: t.jti})} data-confirm="Are you sure?">
            Delete
        </.link>
      </div>
    </:col>
</.wc_table>
