<div class="h1">Listing Blogs</div>

<section class="content-table">
  <%= wc_table(@blogs, [
    columns: [title: "Title", date: "Create Date", author: "Author", actions__: ""],
    content_columns: [:title, :actions__],
    content_functions: [
      fn(b) ->
        wc_live_redirect "#{b.title}", to: Routes.blog_show_path(@socket, :show, b)
      end,
      fn(b) ->
        [
          content_tag(:span, wc_live_redirect("Edit", to: Routes.blog_modify_path(@socket, :edit, b))),
          content_tag(:span, wc_link("Delete", to: "#", phx_click: "delete", phx_value_id: b.id, data: [confirm: "Are you sure?"]))
        ]
      end
    ],
    toolbar_actions: [
      wc_live_redirect("New Blog", to: Routes.blog_modify_path(@socket, :new))
    ]
  ]) %>
</section>
