<div>
  <ui5-title level="H1"><%= @page_title %></ui5-title>

  <div class="header">
  <%= if !is_nil(@blog.id) do %>
  <span><%= wc_live_redirect "Show", to: Routes.blog_show_path(@socket, :show, @blog) %></span> |
  <% end %>
  <span><%= wc_live_redirect "Back", to: Routes.blog_index_path(@socket, :index) %></span>
  </div>

  <.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
    <div class="form-group">
    <%= wc_text_input f, :slug, class: "full-width" %>
    </div>
    <div class="form-group">
    <%= wc_text_input f, :title, class: "full-width", onload: "alert(event)" %>
    </div>
    <div class="form-group">
    <%= label f, :date %>
    <%= bx_date_select f, :date, format_pattern: "yyyy-MM-dd" %>
    <%= error_tag f, :date %>
    </div>
    <div class="form-group">
    <%= wc_text_input f, :author, class: "full-width" %>
    </div>
    <div class="form-group">
      <div class="full-width">
        <%= wc_textarea f, :content, [rows: 50, class: "full-width", charcounter: true] %>
      </div>
      <div class="full-width">
        <remark-element id="content-preview"></remark-element>
      </div>
      <script>
        (() => {
          const ipt = document.getElementById('blog_content');
          const pre = document.getElementById('content-preview');
          const sync = () => {
            pre.innerHTML = ipt.value ?? '';
            pre.requestUpdate();
          };
          ipt.addEventListener('input', sync);
          setTimeout(sync, 1000);
        })()
      </script>
    </div>
    <div class="form-group">
      <%= wc_submit "Save", phx_disable_with: "Saving..." %>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
