<div class="flex flex-col gap-6">
  <h3 class="text-3xl text-center text-primary uppercase">{gettext("Sign in")}</h3>
  <.dm_form
    :let={f}
    for={@changeset}
    id="user-form"
    method={:post}
    class="flex flex-col justify-center items-center gap-6 w-full my-4"
  >
    <input name="_csrf_token" type="hidden" value={get_csrf_token()} />
    <.dm_compact_input
      field={f[:username]}
      type="text"
      label={gettext("Username")}
      class="w-full input-primary"
      field_class="w-full"
    />
    <.dm_compact_input
      field={f[:password]}
      type="password"
      label={gettext("Password")}
      class="w-full input-primary"
      field_class="w-full"
    />
    <div class="w-full">
      <.dm_btn class="btn-block btn-primary uppercase">Sign in</.dm_btn>
    </div>
  </.dm_form>

  <div class="divider">{gettext("OR")}</div>

  <div class="w-full flex flex-row justify-center items-center gap-6">
    <.dm_link
      disabled={is_nil(assigns[:google_oauth_url])}
      href={assigns[:google_oauth_url]}
      class="btn bg-base-200 text-base-content border-base-content"
    >
      <.dm_mdi name="google" class="w-6 aspect-square" /> {gettext("Login with %{provider}",
        provider: "Google"
      )}
    </.dm_link>

    <.dm_link
      href={~p"/auth/github"}
      class="btn bg-base-200 text-base-content border-base-content"
    >
      <.dm_mdi name="github" class="w-6 aspect-square" /> {gettext("Login with %{provider}",
        provider: "Github"
      )}
    </.dm_link>

    <.dm_link
      disabled={is_nil(assigns[:microsoft_oauth_url])}
      href={assigns[:microsoft_oauth_url]}
      class="btn bg-base-200 text-base-content border-base-content"
    >
      <.dm_mdi name="apple" class="w-6 aspect-square" /> {gettext("Login with %{provider}",
        provider: "Apple"
      )}
    </.dm_link>
  </div>

  <div class="divider">{gettext("OR")}</div>
  <div class="flex justify-center items-center">
    <.dm_link
      navigate={~p"/"}
      class="btn bg-base-200 text-base-content border-base-content w-full max-w-2xs"
    >
      {gettext("Back")}
    </.dm_link>
  </div>
</div>
