<div class="flex flex-col">
  <.dm_card>
    <:title>
      <h1>Current Node</h1>
    </:title>

    <section>
      <div class="flex flex-row">
        <label class="w-24 after:content-[':']">Name</label>
        <span><%= Node.self() %></span>
      </div>

      <div class="flex flex-row">
        <label class="w-24 after:content-[':']">State</label>
        <span>
          <%= if Node.alive?(), do: "Started", else: "Stopped" %>
        </span>
      </div>

      <div class="flex flex-row">
        <label class="w-24 after:content-[':']">Cookie</label>
        <span id="node-cookie-value">
          <%= Node.get_cookie() %>
        </span>
      </div>
    </section>
  </.dm_card>

  <.dm_card>
    <:title>
      <h1>Connected Nodes</h1>
    </:title>

    <section>
      <%= if Enum.count(@nodes) > 0 do %>
        <div class="flex flex-row flex-wrap gap-4">
          <%= for no <- @nodes do %>
            <div class="flex justify-center items-center">
              <h3>
                <%= no %>
              </h3>
            </div>
          <% end %>
        </div>
      <% else %>
        <h3>
          No node connected yet!
        </h3>
      <% end %>
    </section>
  </.dm_card>
</div>

<hr />

<div class="flex flex-row">
  <.dm_card>
    <:title>
      <h1>Set Node Cookie</h1>
    </:title>
  </.dm_card>

  <.dm_card>
    <:title>
      <h1>Connect to Node</h1>
    </:title>
  </.dm_card>
</div>
