<.wc_card>
<:title>
  <h1>Current Node</h1>
</:title>

<section>
  <div class="flex flex-row">
    <label class="w-24 after:content-[':']">Name</label>
    <span><%= Node.self() %></span>
  </div>

  <div class="flex flex-row">
    <label class="w-24 after:content-[':']">State</label>
    <span>
      <%= if Node.alive?, do: "Started", else: "Stopped" %>
    </span>
  </div>

  <div class="flex flex-row">
    <label class="w-24 after:content-[':']">Cookie</label>
    <span id="node-cookie-value">
      <%= Node.get_cookie() %>
    </span>
  </div>

  <div>
    <set-node-cookie />
  </div>
</section>
</.wc_card>
<hr />
<.wc_card>
<:title>
  <h1>Connected Nodes</h1>
</:title>

<div>
  <connect-node />
</div>

<section>
  <%= if Enum.count(@nodes) > 0 do %>
  <ul>
    <%= for no <- @nodes do %>
    <li>
      <h3>
        <%= no %>
      </h3>
    </li>
    <% end %>
  </ul>
  <% else %>
  <h3>
    No node connected yet!
  </h3>
  <% end %>
</section>
</.wc_card>
