<Layouts.app flash={@flash}>
  <div class="grid grid-cols-auto-fill-96 gap-4 w-full max-w-5xl p-4">
    <.dm_card class="bg-base-300 text-base-content shadow-lg shadow-base-content">
      <:title>
        <h1>Current Node</h1>
      </:title>

      <section>
        <div class="flex flex-row">
          <label class="w-24 after:content-[':']">Name</label>
          <span>{Node.self()}</span>
        </div>

        <div class="flex flex-row">
          <label class="w-24 after:content-[':']">State</label>
          <span>
            {if Node.alive?(), do: "Started", else: "Stopped"}
          </span>
        </div>

        <div class="flex flex-row">
          <label class="w-24 after:content-[':']">Cookie</label>
          <span id="node-cookie-value">
            {Node.get_cookie()}
          </span>
        </div>
      </section>
    </.dm_card>

    <.dm_card class="bg-base-300 text-base-content shadow-lg shadow-base-content">
      <:title>
        <h1>Connected Nodes</h1>
      </:title>

      <section>
        <%= if Enum.count(@nodes) > 0 do %>
          <div class="flex flex-row flex-wrap gap-4">
            <%= for no <- @nodes do %>
              <div class="flex justify-center items-center">
                <h3>
                  {no}
                </h3>
              </div>
            <% end %>
          </div>
        <% else %>
          <h3>
            No node connected yet!
          </h3>
        <% end %>
      </section>
    </.dm_card>

    <.dm_card class="bg-base-300 text-base-content shadow-lg shadow-base-content">
      <:title>
        <h1>Set Node Cookie</h1>
      </:title>
      <section>
        <.dm_form :let={f} for={to_form(%{})} class="w-full flex flex-col gap-4">
          <.dm_input
            field={f[:name]}
            type="text"
            label="Name"
            class="w-full"
            placeholder="Node Name, eg: gsmlg@10.100.10.1"
          />
          <.dm_input field={f[:cookie]} type="text" label="Cookie" class="w-full" />
          <:actions>
            <.dm_btn class="btn-primary btn-block max-w-md" phx-disable-with="Setting...">
              Set
            </.dm_btn>
          </:actions>
        </.dm_form>
      </section>
    </.dm_card>

    <.dm_card class="bg-base-300 text-base-content shadow-lg shadow-base-content">
      <:title>
        <h1>Connect to Node</h1>
      </:title>
      <.dm_form :let={f} for={to_form(%{})} class="w-full flex flex-col gap-4">
        <.dm_input
          field={f[:name]}
          type="text"
          label="Connect to Node"
          class="w-full"
          placeholder="Node Name, eg: gsmlg@10.100.1.10"
        />
        <:actions>
          <.dm_btn class="btn-primary btn-block max-w-md" phx-disable-with="Setting...">
            Set
          </.dm_btn>
        </:actions>
      </.dm_form>
    </.dm_card>
  </div>
</Layouts.app>
