<div class="h1">Listing User tokens</div>

<section class="content-table">

  <%= wc_table(@user_tokens, [
    columns: [aud: "Aud", typ: "Type", iss: "Issuer", sub: "Sub", exp: "Exp", nfb: "Nfb", actions__: ""],
    content_columns: [:exp, :nfb, :actions__],
    content_functions: [
      fn(b) ->
        b.exp |> DateTime.from_unix!() |> DateTime.to_iso8601()
      end,
      fn(b) ->
        b.claims |> Map.get("nbf") |> DateTime.from_unix!() |> DateTime.to_iso8601()
      end,
      fn(b) ->
        [
          content_tag(:span, wc_live_redirect("Show", to: Routes.user_token_show_path(@socket, :show, b.jti))),
          content_tag(:span, wc_live_redirect("Edit", to: Routes.user_token_modify_path(@socket, :edit, b.jti))),
          content_tag(:span, wc_link("Delete", to: "#", phx_click: "delete", phx_value_id: b.jti, data: [confirm: "Are you sure?"]))
        ]
      end
    ],
    toolbar_actions: [
      wc_live_redirect("New User Token", to: Routes.user_token_modify_path(@socket, :new))
    ]
  ]) %>
</section>
