<div class="h1">Listing User tokens</div>

<div class="header">
  <span><%= wc_live_patch "New User Token", to: Routes.user_token_modify_path(@socket, :new) %></span>
</div>

<section class="content-table">
  <ui5-table class="demo-table-single" mode="SingleSelect">
    <ui5-table-column slot="columns">aud</ui5-table-column>
    <ui5-table-column slot="columns">typ</ui5-table-column>
    <ui5-table-column slot="columns">iss</ui5-table-column>
    <ui5-table-column slot="columns">sub</ui5-table-column>
    <ui5-table-column slot="columns">exp</ui5-table-column>
    <ui5-table-column slot="columns">nbf</ui5-table-column>
    <ui5-table-column slot="columns"></ui5-table-column>

    <%= for user_token <- @user_tokens do %>
      <ui5-table-row>
        <ui5-table-cell><%= user_token.aud %></ui5-table-cell>
        <ui5-table-cell><%= user_token.typ %></ui5-table-cell>
        <ui5-table-cell><%= user_token.iss %></ui5-table-cell>
        <ui5-table-cell><%= user_token.sub %></ui5-table-cell>
        <ui5-table-cell><%= user_token.exp |> DateTime.from_unix!() |> DateTime.to_iso8601() %></ui5-table-cell>
        <ui5-table-cell><%= user_token.claims |> Map.get("nbf") |> DateTime.from_unix!() |> DateTime.to_iso8601() %></ui5-table-cell>

        <ui5-table-cell>
          <span><%= wc_live_redirect "Show", to: Routes.user_token_show_path(@socket, :show, user_token.jti) %></span>
          <span><%= wc_live_patch "Edit", to: Routes.user_token_modify_path(@socket, :edit, user_token.jti) %></span>
          <span><%= wc_link "Delete", to: "#", phx_click: "delete", phx_value_id: user_token.jti, data: [confirm: "Are you sure?"] %></span>
        </ui5-table-cell>
      </ui5-table-row>
    <% end %>
  </ui5-table>
</section>
