<div>
  <ui5-title level="H1"><%= @page_title %></ui5-title>

  <div class="header">
  <%= if @user_token.id do %>
  <span><%= wc_live_redirect "Show", to: Routes.user_token_show_path(@socket, :show, @user_token) %></span> |
  <% end %>
  <span><%= wc_live_redirect "Back", to: Routes.user_token_index_path(@socket, :index) %></span>
  </div>

  <.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
    <div class="form-group">
    <%= wc_text_input f, :jti, required: true %>
    </div>

    <div class="form-group">
    <%= wc_text_input f, :aud, required: true %>
    </div>

    <div class="form-group">
      <%= wc_submit "Save", phx_disable_with: "Saving..." %>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
