
<div class="header">
  <span><%= wc_live_redirect "Edit", to: Routes.user_token_modify_path(@socket, :edit, @user_token), kind: "primary" %></span> |
  <span><%= wc_live_redirect "Back", to: Routes.user_token_index_path(@socket, :index), kind: "ghost" %></span>
</div>

<div class="show-info">

</div>
