
<div class="header">
  <span><%= wc_live_redirect "Edit", to: Routes.user_token_modify_path(@socket, :edit, @user_token.jti), kind: "primary" %></span> |
  <span><%= wc_live_redirect "Back", to: Routes.user_token_index_path(@socket, :index), kind: "ghost" %></span>
</div>

<div class="show-info">
  <bx-structured-list>
    <bx-structured-list-head>
      <bx-structured-list-header-row>
        <bx-structured-list-header-cell>Label</bx-structured-list-header-cell>
        <bx-structured-list-header-cell>Value</bx-structured-list-header-cell>
      </bx-structured-list-header-row>
    </bx-structured-list-head>
    <bx-structured-list-body>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "JTI" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.jti %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "AUD" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.aud %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "TYP" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.typ %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "ISS" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.iss %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "SUB" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.sub %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "EXP" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.exp |> DateTime.from_unix!() |> DateTime.to_iso8601() %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "JWT" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.jwt %></bx-structured-list-cell>
      </bx-structured-list-row>
      <bx-structured-list-row>
        <bx-structured-list-cell><%= "NBF" %></bx-structured-list-cell>
        <bx-structured-list-cell><%= @user_token.claims |> Map.get("nbf") |> DateTime.from_unix!() |> DateTime.to_iso8601() %></bx-structured-list-cell>
      </bx-structured-list-row>
    </bx-structured-list-body>
  </bx-structured-list>
</div>
